In [1]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",passwd="Niraj@$123",use_pure=True)
    #check if the connection is established
    query="SHOW DATABASES"
    cursor=mydb.cursor()#creates a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall)
    
except Exception as e:
    mydb.close()
    print(str(e))

<bound method MySQLCursor.fetchall of <mysql.connector.cursor.MySQLCursor object at 0x0000011E5BB655E0>>

In [147]:
mydb=connection.connect(host="localhost",user="root",passwd="Niraj@$123",use_pure=True)

In [148]:
cur=mydb.cursor()

In [149]:
type(cur.execute("show databases"))

NoneType

In [150]:
res=cur.fetchall()

In [151]:
res

[('amazon',),
 ('assignment5',),
 ('bussinessdb',),
 ('college',),
 ('collegeviit',),
 ('company',),
 ('custom',),
 ('department',),
 ('information_schema',),
 ('library',),
 ('library3',),
 ('maker',),
 ('manage',),
 ('mysql',),
 ('performance_schema',),
 ('shop',),
 ('skills_swap',),
 ('student',),
 ('sub',),
 ('sys',),
 ('user',)]

In [152]:
res[1]

('assignment5',)

In [153]:
for i in res:
    print(i[0])

amazon
assignment5
bussinessdb
college
collegeviit
company
custom
department
information_schema
library
library3
maker
manage
mysql
performance_schema
shop
skills_swap
student
sub
sys
user

Create new Databases

In [154]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",user="root",passwd="Niraj@$123",use_pure=True)
    
    print(mydb.is_connected())
    
    query="create database Student"
    cursor=mydb.cursor()
    cursor.execute(query)
    print("database created")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))

True
1007 (HY000): Can't create database 'student'; database exists

In [155]:
mydb=connection.connect(host="localhost",user="root",passwd="Niraj@$123",use_pure=True)
query="show databases"
cursor=mydb.cursor()
cursor.execute(query)
cursor.fetchall()

[('amazon',),
 ('assignment5',),
 ('bussinessdb',),
 ('college',),
 ('collegeviit',),
 ('company',),
 ('custom',),
 ('department',),
 ('information_schema',),
 ('library',),
 ('library3',),
 ('maker',),
 ('manage',),
 ('mysql',),
 ('performance_schema',),
 ('shop',),
 ('skills_swap',),
 ('student',),
 ('sub',),
 ('sys',),
 ('user',)]

Creating table in Student database

In [156]:
import mysql.connector as connection

try:
    mydb=connection.connect(host="localhost",database="Student",user="root",passwd="Niraj@$123",use_pure=True)
    print(mydb.is_connected())
    
    query="create table Details(id int auto_increment primary key,firstname varchar(20),lastname varchar(20),rdate varchar(20),class varchar(20),section varchar(10))"
    
    cursor=mydb.cursor()
    cursor.execute(query)
    print("table created")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
1050 (42S01): Table 'details' already exists

In [157]:
mydb=connection.connect(host="localhost",database="Student",user="root",passwd="Niraj@$123",use_pure=True)
query="select * from Details"
cursor=mydb.cursor()
cursor.execute(query)
print(cursor.fetchall())

[(1, 'niraj', 'patil', '21-02-2024', 'A', 'AI'), (2, 'gaurav', 'patil', '12-03-2024', 'B', 'DS')]

for commiting data

In [158]:
mydb=connection.connect(host="localhost",database="Student",user="root",passwd="Niraj@$123",use_pure=True)
query="insert into Details(id,firstname,lastname,rdate,class,section) values(%s,%s,%s,%s,%s,%s)"
values=(1,"niraj","patil","12-03-2024","A","AI")
cursor=mydb.cursor()
#cursor.execute(query,values)
cursor.execute("insert into Details(id,firstname,lastname,rdate,class,section) values (2,'gaurav','patil','12-03-2024','B','DS')")
mydb.commit()
print(cursor.fetchall())
mydb.close()

IntegrityError: 1062 (23000): Duplicate entry '2' for key 'details.PRIMARY'

In [159]:
mydb=connection.connect(host="localhost",database="Student",user="root",passwd="Niraj@$123",use_pure=True)
cursor=mydb.cursor()
cursor.execute("select * from details")
res=cursor.fetchall()
print(res)
mydb.close()

[(1, 'niraj', 'patil', '21-02-2024', 'A', 'AI'), (2, 'gaurav', 'patil', '12-03-2024', 'B', 'DS')]

In [160]:
mydb=connection.connect(host="localhost",database="Student",user="root",passwd="Niraj@$123",use_pure=True)
cur=mydb.cursor()
out=cur.execute(" select * from details ")
type(out)

NoneType

In [161]:
for i in cur.fetchall():
    print(i)

(1, 'niraj', 'patil', '21-02-2024', 'A', 'AI')
(2, 'gaurav', 'patil', '12-03-2024', 'B', 'DS')

In [162]:
cur=mydb.cursor()
cur.execute(" select id,firstname from details")
cur.fetchall()

[(1, 'niraj'), (2, 'gaurav')]

PANDAS

In [163]:
import pandas as pd

In [164]:
mydb=connection.connect(host="localhost",database="Student",user="root",passwd="Niraj@$123",use_pure=True)
pd.read_sql("select * from Details",mydb)

C:\Users\niraj\AppData\Local\Temp\ipykernel_32984\3307234885.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from Details",mydb)

   id firstname lastname       rdate class section
0   1     niraj    patil  21-02-2024     A      AI
1   2    gaurav    patil  12-03-2024     B      DS

In [165]:
a=pd.read_sql("select * from Details",mydb)
a.to_csv("mydb.csv")

C:\Users\niraj\AppData\Local\Temp\ipykernel_32984\767990689.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  a=pd.read_sql("select * from Details",mydb)

In [166]:
mydb

In [ ]:
cur=mydb.cursor()
cur.execute("create table mydata(n1 int(20),n2 varchar(20),n3 date )")

In [170]:
data1=pd.read_csv("mydb.csv")
data1

   Unnamed: 0  id firstname lastname       rdate class section
0           0   1     niraj    patil  21-02-2024     A      AI
1           1   2    gaurav    patil  12-03-2024     B      DS

In [171]:
data1.to_sql('mydata',mydb)

C:\Users\niraj\AppData\Local\Temp\ipykernel_32984\1311836147.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1.to_sql('mydata',mydb)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement

Converting .csv to the sql

In [172]:
import mysql.connector as connection
import pandas as pd
import csv

mydb=connection.connect(host="localhost",database="Student",user="root",passwd="Niraj@$123",use_pure=True)

In [177]:
cur=mydb.cursor()
cur.execute("create table student.stock(Date date,IBM decimal(10,5),AAPL decimal(10,5) ,MSFT decimal(10.5),XRX decimal(10,5),AMZN decimal(10),DELL decimal(10),GOOGL decimal(10),ADBE decimal(10),GSPC decimal(10),IXIC decimal(10))")

In [179]:
ls

 Volume in drive D is Local Disk
 Volume Serial Number is A073-33FC

 Directory of d:\ML\Database

22-12-2024  21:02    <DIR>          .
21-12-2024  20:36    <DIR>          ..
22-12-2024  21:24            40,864 connection.ipynb
22-12-2024  20:53               186 mydb.csv
22-12-2024  16:55                35 mysqlconnector.txt
22-12-2024  18:58           213,578 SQL-Cheat-Sheet.pdf
22-12-2024  21:08            67,884 Stocks.csv
               5 File(s)        322,547 bytes
               2 Dir(s)  188,147,265,536 bytes free

In [ ]:
import mysql.connector as connection
import csv

try:
    # Establish connection
    mydb = connection.connect(
        host="localhost",
        database="Student",
        user="root",
        passwd="Niraj@$123",
        use_pure=True
    )
    cur = mydb.cursor()
   
    # Open and process the CSV file
    with open('mydb.csv', "r") as data:
        next(data)  # Skip the header row
        data_csv = csv.reader(data)
        print(data_csv)
        # Insert each row into the table
        for i in enumerate(data_csv):
            print(i)
            for j in i[1]:
                cur.execute("insert into student.stock values({data})".format(data=(j)))
            
           
        
        print("All the data has been inserted.")
        mydb.commit()

except Exception as e:
    print(f"Error: {e}")

finally:
    if mydb.is_connected():
        cur.close()
        mydb.close()

<_csv.reader object at 0x00000288A71DFB20>
(0, ['0', '1', 'niraj', 'patil', '21-02-2024', 'A', 'AI'])
Error: 1136 (21S01): Column count doesn't match value count at row 1

In [5]:
mydb.close()

In [31]:
import mysql.connector as connection
import csv
 #cur.execute("create table student.stock(id int primary key,firstname varchar(20),lastname varchar(20),rdate varchar(20),class varchar(10),section varchar(20))")
mydb=connection.connect(host="localhost",database="student",user="root",passwd="Niraj@$123",use_pure=True)
cur=mydb.cursor()
with open("mydb.csv","r") as data:
    next(data)
    data_csv=csv.reader(data,delimiter="\n")
    print(data_csv)
    for i in enumerate(data_csv):
        print(i)
        for j in i[1]:
            cur.execute("insert into student.stock values({data})".format(data=(str(j))))
    print("all the data inserted")
mydb.commit()

<_csv.reader object at 0x00000288A8A44EE0>
(0, ['1,niraj,patil,21-02-2024,A,AI'])

ProgrammingError: 1054 (42S22): Unknown column 'niraj' in 'field list'

In [2]:
import mysql.connector as connection
import csv

# Connect to the database
mydb = connection.connect(
    host="localhost",
    database="student",  # Replace with your actual database name
    user="root",  # Replace with your username
    passwd="Niraj@$123",  # Replace with your password
    use_pure=True
)

cur = mydb.cursor()

# Uncomment this line if you need to create the table
# cur.execute("""
# CREATE TABLE IF NOT EXISTS stock (
#     id INT PRIMARY KEY, 
#     firstname VARCHAR(50), 
#     lastname VARCHAR(50),
#     rdate DATE, 
#     class VARCHAR(20), 
#     section VARCHAR(20)
# )
# """)

# Open the CSV file
with open("mydb.csv", "r") as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip header row if it exists

    # Loop through the rows in the CSV file
    for row in csv_reader:
        # Ensure the row has exactly 6 fields
        if len(row) == 6:
            try:
                # Extract fields from the row
                id = int(row[0])
                firstname = row[1]
                lastname = row[2]
                rdate = row[3]
                class_name = row[4]
                section = row[5]

                # Debugging print statement
                print(f"Inserting row: {id}, {firstname}, {lastname}, {rdate}, {class_name}, {section}")

                # Use parameterized query to insert data into the table
                cur.execute("""
                INSERT INTO stock (id, firstname, lastname, rdate, class, section)
                VALUES (%s, %s, %s, %s, %s, %s)
                """, (id, firstname, lastname, rdate, class_name, section))

            except Exception as e:
                print(f"Error inserting row {row}: {e}")
                continue
        else:
            print(f"Skipping invalid row: {row}")

# Commit the changes to the database
mydb.commit()
print("All the data has been successfully inserted.")

# Close the database connection
cur.close()
mydb.close()

Inserting row: 1, niraj, patil, 21-02-2024, A, AI
Inserting row: 2, gaurav, patil, 12-03-2024, B, DS
Inserting row: 3, Ayush, gaikwad, 23-04-2024, C, AIDS
Inserting row: 4, Maulik, sonawane, 20-01-2022, D, IT
All the data has been successfully inserted.

For big data in which have not to declare whole variable

In [ ]:
import csv
import mysql.connector

# Connect to the MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

cur = mydb.cursor()

# Open the CSV file
with open("data.csv", "r") as file:
    reader = csv.reader(file)

    # Iterate through each row in the CSV
    for row in reader:
        # Debugging: Print the row
        print(f"Inserting row: {row}")

        try:
            # Execute the query dynamically for each row
            cur.execute(
                """
                INSERT INTO stock (id, firstname, lastname, rdate, class, section) 
                VALUES (%s, %s, %s, %s, %s, %s)
                """,
                row  # Pass the row directly if it's ordered correctly
            )
        except mysql.connector.Error as err:
            print(f"Error: {err}")
            continue  # Skip the problematic row and continue inserting others

# Commit all changes and close the connection
mydb.commit()
cur.close()
mydb.close()

print("All data has been inserted successfully!")

In [3]:
import mysql.connector as connection

mydb=connection.connect(host="localhost",database="student",user="root",passwd="Niraj@$123",use_pure=True)
cur=mydb.cursor()
print(mydb.is_connected())
query ="delete from student.details where id=2"
cur.execute(query)
print("id deleted ")
mydb.commit()
mydb.close()

True
id deleted