In [42]:
import pandas as pd

In [30]:
pd.read_csv("D:\\ML\\Database\\SQL\\mydb.csv")

   id firstname  lastname       rdate class section
0   1     niraj     patil  21-02-2024     A      AI
1   2    gaurav     patil  12-03-2024     B      DS
2   3     Ayush   gaikwad  23-04-2024     C    AIDS
3   4    Maulik  sonawane  20-01-2022     D      IT

In [31]:
df=pd.read_csv("customers.csv")

In [32]:
df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [33]:
df.head(20)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
5,6,2d08FB17EE273F4,Aimee,Downs,Steele Group,Chavezborough,Bosnia and Herzegovina,(283)437-3886x88321,999-728-1637,louis27@gilbert.com,2020-02-25,http://www.berger.net/
6,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
7,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
8,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
9,10,8C2811a503C7c5a,Michelle,Gallagher,Beck-Hendrix,Elaineberg,Timor-Leste,739.218.2516x459,001-054-401-0347x617,mdyer@escobar.net,2021-11-08,https://arias.com/
10,11,216E205d6eBb815,Carl,Schroeder,"Oconnell, Meza and Everett",Shannonville,Guernsey,637-854-0256x825,114.336.0784x788,kirksalas@webb.com,2021-10-20,https://simmons-hurley.com/
11,12,CEDec94deE6d69B,Jenna,Dodson,"Hoffman, Reed and Mcclain",East Andrea,Vietnam,(041)737-3846,+1-556-888-3485x42608,mark42@robbins.com,2020-11-29,http://www.douglas.net/
12,13,e35426EbDEceaFF,Tracey,Mata,Graham-Francis,South Joannamouth,Togo,001-949-844-8787,(855)713-8773,alex56@walls.org,2021-12-02,http://www.beck.com/
13,14,A08A8aF8BE9FaD4,Kristine,Cox,Carpenter-Cook,Jodyberg,Sri Lanka,786-284-3358x62152,+1-315-627-1796x8074,holdenmiranda@clarke.com,2021-02-08,https://www.brandt.com/
14,15,6fEaA1b7cab7B6C,Faith,Lutz,Carter-Hancock,Burchbury,Singapore,(781)861-7180x8306,207-185-3665,cassieparrish@blevins-chapman.net,2022-01-26,http://stevenson.org/
15,16,8cad0b4CBceaeec,Miranda,Beasley,Singleton and Sons,Desireeshire,Oman,540.085.3135x185,+1-600-462-6432x21881,vduncan@parks-hardy.com,2022-04-12,http://acosta.org/
16,17,a5DC21AE3a21eaA,Caroline,Foley,Winters-Mendoza,West Adriennestad,Western Sahara,936.222.4746x9924,001-469-948-6341x359,holtgwendolyn@watson-davenport.com,2021-03-10,http://www.benson-roth.com/
17,18,F8Aa9d6DfcBeeF8,Greg,Mata,Valentine LLC,Lake Leslie,Mozambique,(701)087-2415,(195)156-1861x26241,jaredjuarez@carroll.org,2022-03-26,http://pitts-cherry.com/
18,19,F160f5Db3EfE973,Clifford,Jacobson,Simon LLC,Harmonview,South Georgia and the South Sandwich Islands,001-151-330-3524x0469,(748)477-7174,joseph26@jacobson.com,2020-09-24,https://mcconnell.com/
19,20,0F60FF3DdCd7aB0,Joanna,Kirk,Mays-Mccormick,Jamesshire,French Polynesia,(266)131-7001x711,(283)312-5579x11543,tuckerangie@salazar.net,2021-09-24,https://www.camacho.net/

In [34]:
df.tail(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [35]:
type(df)

pandas.core.frame.DataFrame

Creating one file from another one

In [47]:
file=df.tail(10)
file.to_csv("test_tail.csv")

In [50]:
pd.read_csv("test_tail.csv",sep="#")

,Unnamed: 0,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,90,91,5ef6d3eefdD43bE,Nina,Chavez,Byrd-Campbell,Cassidychester,Bhutan,053-344-3205,+1-330-920-5422x571,elliserica@frank.com,2020-03-26,https://www.pugh.com/
1,91,92,98b3aeDcC3B9FF3,Shane,Foley,Rocha-Hart,South Dannymouth,Hungary,+1-822-569-0302,001-626-114-5844x55073,nsteele@sparks.com,2021-07-06,https://www.holt-sparks.com/
2,92,93,aAb6AFc7AfD0fF3,Collin,Ayers,Lamb-Peterson,South Lonnie,Anguilla,404-645-5351x012,001-257-582-8850x8516,dudleyemily@gonzales.biz,2021-06-29,http://www.ruiz.com/
3,93,94,54B5B5Fe9F1B6C5,Sherry,Young,Lee# Lucero and Johnson,Frankchester,Solomon Islands,158-687-1764,(438)375-6207x003,alan79@gates-mclaughlin.com,2021-04-04,https://travis.net/
4,94,95,BE91A0bdcA49Bbc,Darrell,Douglas,Newton# Petersen and Mathis,Daisyborough,Mali,001-084-845-9524x1777,001-769-564-6303,grayjean@lowery-good.com,2022-02-17,https://banks.biz/
5,95,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
6,96,97,CeD220bdAaCfaDf,Lynn,Atkinson,Ware# Burns and Oneal,New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
7,97,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
8,98,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
9,99,100,2354a0E336A91A1,Clarence,Haynes,Le# Nash and Cross,Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

header is absent

In [53]:
pd.read_csv("customers.csv",sep=",",header=None)

,0,1,2,3,4,5,6,7,8,9,10,11
0,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
1,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
3,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
4,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
97,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
98,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
99,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
100,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

naming the columns

In [56]:
pd.read_csv("customers.csv",sep=",",header=None,names=['a','b','c','d','e','f','g','h','i','j','k','l'])

,a,b,c,d,e,f,g,h,i,j,k,l
0,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
1,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
2,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
3,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
4,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
96,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
97,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
98,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
99,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
100,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

skips the rows

In [62]:
pd.read_csv("customers.csv",sep=",",skiprows=[1,2,4,6])

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
1,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
2,7,EA4d384DfDbBf77,Darren,Peck,"Lester, Woodard and Mitchell",Lake Ana,Pitcairn Islands,(496)452-6181x3291,+1-247-266-0963x4995,tgates@cantrell.com,2021-08-24,https://www.le.com/
3,8,0e04AFde9f225dE,Brett,Mullen,"Sanford, Davenport and Giles",Kimport,Bulgaria,001-583-352-7197x297,001-333-145-0369,asnow@colon.com,2021-04-12,https://hammond-ramsey.com/
4,9,C2dE4dEEc489ae0,Sheryl,Meyers,Browning-Simon,Robersonstad,Cyprus,854-138-4911x5772,+1-448-910-2276x729,mariokhan@ryan-pope.org,2020-01-13,https://www.bullock.net/
...,...,...,...,...,...,...,...,...,...,...,...,...
91,96,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
92,97,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
93,98,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
94,99,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
95,100,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [65]:
pd.read_csv("customers.csv",sep=",",na_values=[1,"Sheryl","Roy"])

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,NaN,DD37Cf93aecA6Dc,NaN,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2.0,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3.0,6F94879bDAfE5a6,NaN,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4.0,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5.0,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96.0,cb8E23e48d22Eae,Karl,Greer,Carey LLC,East Richard,Guyana,(188)169-1674x58692,001-841-293-3519x614,hhart@jensen.com,2022-01-30,http://hayes-perez.com/
96,97.0,CeD220bdAaCfaDf,Lynn,Atkinson,"Ware, Burns and Oneal",New Bradview,Sri Lanka,+1-846-706-2218,605.413.3198,vkemp@ferrell.com,2021-07-10,https://novak-allison.com/
97,98.0,28CDbC0dFe4b1Db,Fred,Guerra,Schmitt-Jones,Ortegaland,Solomon Islands,+1-753-067-8419x7170,+1-632-666-7507x92121,swagner@kane.org,2021-09-18,https://www.ross.com/
98,99.0,c23d1D9EE8DEB0A,Yvonne,Farmer,Fitzgerald-Harrell,Lake Elijahview,Aruba,(530)311-9786,001-869-452-0943x12424,mccarthystephen@horn-green.biz,2021-08-11,http://watkins.info/
99,100.0,2354a0E336A91A1,Clarence,Haynes,"Le, Nash and Cross",Judymouth,Honduras,(753)813-6941,783.639.1472,colleen91@faulkner.biz,2020-03-11,http://www.hatfield-saunders.net/

In [67]:
type(df)

pandas.core.frame.DataFrame

In [69]:
df.describe()

            Index
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

In [73]:
df.dtypes

Index                 int64
Customer Id          object
First Name           object
Last Name            object
Company              object
City                 object
Country              object
Phone 1              object
Phone 2              object
Email                object
Subscription Date    object
Website              object
dtype: object

In [75]:
df1=pd.read_csv('sales.csv')
df1

,transactionType,transactionId,referencedOrderId,externalContactIdType,externalContactId,accountCurrency,transactionCurrency,transactionCreatedDateTime,transactionLastChangedDateTime,storeId,salesChannel,productId,quantity,amountInAccountCurrency,amountInTransactionCurrency,customColor
0,order,123,NaN,email,xyz2@emailserv.com,EUR,EUR,2023-07-19T12:18:51.545Z,2023-07-20T12:18:51.545Z,NaN,NaN,111,1,120,120,black
1,order,234,NaN,mobile,36301231231,EUR,CAD,2023-07-21T12:18:51.545Z,2023-07-22T12:18:51.545Z,11.0,offline,222,5,200,290,NaN
2,order,456,NaN,email,xyz@emailserv.com,EUR,AUD,2023-07-25T12:18:51.545Z,2023-07-26T12:18:51.545Z,12.0,online,444,100,500,820,purple
3,order,456,NaN,email,xyz@emailserv.com,EUR,AUD,2023-07-25T12:18:51.545Z,2023-07-25T12:18:51.545Z,12.0,online,23,140,1400,2100,blue
4,refund,345,456.0,email,xyz@emailserv.com,EUR,AUD,2023-07-26T15:18:51.545Z,2023-07-26T15:18:51.545Z,12.0,online,444,-1,-5,-8,purple
5,refund,346,456.0,mobile,36309876987,EUR,AUD,2023-07-27T16:18:51.545Z,2023-07-27T16:18:51.545Z,12.0,online,23,-2,-20,-40,blue

In [76]:
df1.dtypes

transactionType                    object
transactionId                       int64
referencedOrderId                 float64
externalContactIdType              object
externalContactId                  object
accountCurrency                    object
transactionCurrency                object
transactionCreatedDateTime         object
transactionLastChangedDateTime     object
storeId                           float64
salesChannel                       object
productId                           int64
quantity                            int64
amountInAccountCurrency             int64
amountInTransactionCurrency         int64
customColor                        object
dtype: object

In [77]:
df1.describe()

,transactionId,referencedOrderId,storeId,productId,quantity,amountInAccountCurrency,amountInTransactionCurrency
count,6.000000,2.0,5.000000,6.000000,6.000000,6.000000,6.000000
mean,326.666667,456.0,11.800000,211.166667,40.500000,365.833333,547.000000
std,129.793169,0.0,0.447214,194.621085,62.911843,540.707099,823.080798
min,123.000000,456.0,11.000000,23.000000,-2.000000,-20.000000,-40.000000
25%,261.750000,456.0,12.000000,45.000000,-0.500000,26.250000,24.000000
50%,345.500000,456.0,12.000000,166.500000,3.000000,160.000000,205.000000
75%,428.500000,456.0,12.000000,388.500000,76.250000,425.000000,687.500000
max,456.000000,456.0,12.000000,444.000000,140.000000,1400.000000,2100.000000

For removing index column

In [81]:
df1.to_csv("result.csv",index=False)

for removing column name

In [83]:
df1.to_csv("result.csv",index=False,header=None)

for using your own seprartor

In [84]:
df1.to_csv("result.csv",index=False,header=None,sep="*")

own column selection

In [90]:
df1.to_csv("result1.csv",index=False,header=None,sep="*",columns=["transactionId","productId","quantity"])

In [91]:
df1.tail()

,transactionType,transactionId,referencedOrderId,externalContactIdType,externalContactId,accountCurrency,transactionCurrency,transactionCreatedDateTime,transactionLastChangedDateTime,storeId,salesChannel,productId,quantity,amountInAccountCurrency,amountInTransactionCurrency,customColor
1,order,234,NaN,mobile,36301231231,EUR,CAD,2023-07-21T12:18:51.545Z,2023-07-22T12:18:51.545Z,11.0,offline,222,5,200,290,NaN
2,order,456,NaN,email,xyz@emailserv.com,EUR,AUD,2023-07-25T12:18:51.545Z,2023-07-26T12:18:51.545Z,12.0,online,444,100,500,820,purple
3,order,456,NaN,email,xyz@emailserv.com,EUR,AUD,2023-07-25T12:18:51.545Z,2023-07-25T12:18:51.545Z,12.0,online,23,140,1400,2100,blue
4,refund,345,456.0,email,xyz@emailserv.com,EUR,AUD,2023-07-26T15:18:51.545Z,2023-07-26T15:18:51.545Z,12.0,online,444,-1,-5,-8,purple
5,refund,346,456.0,mobile,36309876987,EUR,AUD,2023-07-27T16:18:51.545Z,2023-07-27T16:18:51.545Z,12.0,online,23,-2,-20,-40,blue

In [92]:
df1.columns

Index(['transactionType', 'transactionId', 'referencedOrderId',
       'externalContactIdType', 'externalContactId', 'accountCurrency',
       'transactionCurrency', 'transactionCreatedDateTime',
       'transactionLastChangedDateTime', 'storeId', 'salesChannel',
       'productId', 'quantity', 'amountInAccountCurrency',
       'amountInTransactionCurrency', 'customColor'],
      dtype='object')

In [96]:
df1['transactionType']

0     order
1     order
2     order
3     order
4    refund
5    refund
Name: transactionType, dtype: object

In [98]:
type(df1['transactionType'])

pandas.core.series.Series

In [99]:
df1[['transactionType']]

  transactionType
0           order
1           order
2           order
3           order
4          refund
5          refund

In [100]:
type(df1[['transactionType']])

pandas.core.frame.DataFrame

In [102]:
df1[["transactionType","quantity","amountInAccountCurrency"]]

  transactionType  quantity  amountInAccountCurrency
0           order         1                      120
1           order         5                      200
2           order       100                      500
3           order       140                     1400
4          refund        -1                       -5
5          refund        -2                      -20

In [103]:
pd.read_excel("Finance.xlsx")

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.00,32370.00,16185.0,16185.00,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.00,26420.00,13210.0,13210.00,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.00,32670.00,21780.0,10890.00,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.00,13320.00,8880.0,4440.00,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.00,37050.00,24700.0,12350.00,2014-06-01,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,2475.0,260,300,742500.0,111375.00,631125.00,618750.0,12375.00,2014-03-01,3,March,2014
696,Small Business,Mexico,Amarilla,High,546.0,260,300,163800.0,24570.00,139230.00,136500.0,2730.00,2014-10-01,10,October,2014
697,Government,Mexico,Montana,High,1368.0,5,7,9576.0,1436.40,8139.60,6840.0,1299.60,2014-02-01,2,February,2014
698,Government,Canada,Paseo,High,723.0,10,7,5061.0,759.15,4301.85,3615.0,686.85,2014-04-01,4,April,2014
699,Channel Partners,United States of America,VTT,High,1806.0,250,12,21672.0,3250.80,18421.20,5418.0,13003.20,2014-05-01,5,May,2014

In [104]:
df2=pd.read_excel("Finance.xlsx")

In [107]:
df2.dtypes

Segment                        object
Country                        object
Product                        object
Discount Band                  object
Units Sold                    float64
Manufacturing Price             int64
Sale Price                      int64
Gross Sales                   float64
Discounts                     float64
 Sales                        float64
COGS                          float64
Profit                        float64
Date                   datetime64[ns]
Month Number                    int64
Month Name                     object
Year                            int64
dtype: object

In [111]:
pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   -------- ------------------------------- 0.8/3.8 MB 1.4 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.8 MB 1.5 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 1.6 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.6 MB/s eta 0:00:02
   ------------------- -------------------- 1.8/3.8 MB 1.6 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.8 MB 1.4 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 1.4 MB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 1.4 MB/s eta 0:00:01
   ------------------------------ --------- 2.9/3.8 MB 1.4 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 1.3 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [113]:
pd.read_html("https://www.espncricinfo.com/records/year/batting-most-runs-career/2024-2024/combined-test-odi-and-t20i-records-11")

[                Player       Span  Mat  Inns NO  Runs    HS    Ave    BF  \
 0      BKG Mendis (SL)  2024-2024   48    55  5  1860   143  37.20  2040
 1    YBK Jaiswal (IND)  2024-2024   23    37  3  1771  214*  52.08  2301
 2      P Nissanka (SL)  2024-2024   37    42  4  1696  210*  44.63  1600
 3       HC Brook (ENG)  2024-2024   27    31  4  1575   317  58.33  1646
 4        JE Root (ENG)  2024-2024   17    31  3  1556   262  55.57  2455
 ..                 ...        ...  ...   ... ..   ...   ...    ...   ...
 145      N Pooran (WI)  2024-2024   21    20  2   464    98  25.77   326
 146   JC Buttler (ENG)  2024-2024   15    13  2   462    84  42.00   281
 147    J Liyanage (SL)  2024-2024   18    13  3   462  101*  46.20   567
 148       E Lewis (WI)  2024-2024   14    14  2   462  102*  38.50   363
 149   RR Patel (KENYA)  2024-2024   18    16  2   460   120  32.85   307

          SR 100  50  0   4s  6s
 0     91.17   2  11  3  200  37
 1     76.96   3  11  3  200  52
 2    106.00   4   9  2  215  36
 3     95.68   5   6  1  152  30
 4     63.38   6   5  1  147   2
 ..      ...  ..  .. ..  ...  ..
 145  142.33   -   2  1   25  39
 146  164.41   -   3  2   47  23
 147   81.48   1   3  -   31  11
 148  127.27   1   3  1   38  30
 149  149.83   1   2  1   42  25

 [150 rows x 15 columns]]

In [114]:
df3=pd.read_html("https://www.espncricinfo.com/records/year/batting-most-runs-career/2024-2024/combined-test-odi-and-t20i-records-11")

In [117]:
type(df3)

list

In [116]:
len(df3)

1

In [118]:
df3[0]

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,BKG Mendis (SL),2024-2024,48,55,5,1860,143,37.20,2040,91.17,2,11,3,200,37
1,YBK Jaiswal (IND),2024-2024,23,37,3,1771,214*,52.08,2301,76.96,3,11,3,200,52
2,P Nissanka (SL),2024-2024,37,42,4,1696,210*,44.63,1600,106.00,4,9,2,215,36
3,HC Brook (ENG),2024-2024,27,31,4,1575,317,58.33,1646,95.68,5,6,1,152,30
4,JE Root (ENG),2024-2024,17,31,3,1556,262,55.57,2455,63.38,6,5,1,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,N Pooran (WI),2024-2024,21,20,2,464,98,25.77,326,142.33,-,2,1,25,39
146,JC Buttler (ENG),2024-2024,15,13,2,462,84,42.00,281,164.41,-,3,2,47,23
147,J Liyanage (SL),2024-2024,18,13,3,462,101*,46.20,567,81.48,1,3,-,31,11
148,E Lewis (WI),2024-2024,14,14,2,462,102*,38.50,363,127.27,1,3,1,38,30
149,RR Patel (KENYA),2024-2024,18,16,2,460,120,32.85,307,149.83,1,2,1,42,25

In [120]:
df3[0].to_csv("mostruns.csv")

In [121]:
pd.read_csv("mostruns.csv")

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,BKG Mendis (SL),2024-2024,48,55,5,1860,143,37.20,2040,91.17,2,11,3,200,37
1,1,YBK Jaiswal (IND),2024-2024,23,37,3,1771,214*,52.08,2301,76.96,3,11,3,200,52
2,2,P Nissanka (SL),2024-2024,37,42,4,1696,210*,44.63,1600,106.00,4,9,2,215,36
3,3,HC Brook (ENG),2024-2024,27,31,4,1575,317,58.33,1646,95.68,5,6,1,152,30
4,4,JE Root (ENG),2024-2024,17,31,3,1556,262,55.57,2455,63.38,6,5,1,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,N Pooran (WI),2024-2024,21,20,2,464,98,25.77,326,142.33,-,2,1,25,39
146,146,JC Buttler (ENG),2024-2024,15,13,2,462,84,42.00,281,164.41,-,3,2,47,23
147,147,J Liyanage (SL),2024-2024,18,13,3,462,101*,46.20,567,81.48,1,3,-,31,11
148,148,E Lewis (WI),2024-2024,14,14,2,462,102*,38.50,363,127.27,1,3,1,38,30
149,149,RR Patel (KENYA),2024-2024,18,16,2,460,120,32.85,307,149.83,1,2,1,42,25

In [124]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [145]:
s = """
{
    "name": "sudh",
    "phone": 1234567890,
    "com": ["ineuron", "HUL", "HP", "dell", "EV"]
}
"""

In [148]:
import json
j=json.loads(s)
j

{'name': 'sudh',
 'phone': 1234567890,
 'com': ['ineuron', 'HUL', 'HP', 'dell', 'EV']}

In [149]:
pd.DataFrame(j)

   name       phone      com
0  sudh  1234567890  ineuron
1  sudh  1234567890      HUL
2  sudh  1234567890       HP
3  sudh  1234567890     dell
4  sudh  1234567890       EV

In [6]:
d = """
{
    "name":["sudh","niraj","shubh","raj","shiv"], 
    "phone": 1234567890,
    "com": ["ineuron", "HUL", "HP", "dell", "EV"]
}
"""
import json
j=json.loads(d)
pd.DataFrame(j)

    name       phone      com
0   sudh  1234567890  ineuron
1  niraj  1234567890      HUL
2  shubh  1234567890       HP
3    raj  1234567890     dell
4   shiv  1234567890       EV

In [14]:
pd.DataFrame(j,columns=['com'])

       com
0  ineuron
1      HUL
2       HP
3     dell
4       EV

In [26]:
import requests,json
res=requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [28]:
op=res.json()
op

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60637',
  'id': 2764723015,
  'node_id': 'PR_kwDOAA0YD86Gg1Zt',
  'number': 60637,
  'title': 'TST(string dtype): Resolve xfail for interpolate',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 2822342,
    'node_id': 'MDU6TGFiZWwyODIyMzQy',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Missing-data',
    'name': 'Missing-data',
    'color': 'd7e102',
    'default': False,
    'description': 'np.nan, pd.NaT, pd.NA, dropna, isnull, interpolate'},
   {'id': 57522093,
    'node_id': 'MDU6TGFiZWw1NzUyMjA5Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Strings',
    'name': 'Strings',
    'color': '5319e7',
    'default': False,
    'description': 'String extension data type and string data'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/119',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/119',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/119/labels',
   'id': 11466880,
   'node_id': 'MI_kwDOAA0YD84ArviA',
   'number': 119,
   'title': '2.3',
   'description': 'on-merge: backport to 2.3.x',
   'creator': {'login': 'jorisvandenbossche',
    'id': 1020496,
    'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
    'avatar_url': 'https://avatars.githubusercontent.com/u/1020496?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jorisvandenbossche',
    'html_url': 'https://github.com/jorisvandenbossche',
    'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
    'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
    'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
    'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
    'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
    'type': 'User',
    'user_view_type': 'public',
    'site_admin': False},
   'open_issues': 53,
   'closed_issues': 215,
   'state': 'open',
   'created_at': '2024-08-20T19:39:44Z',
   'updated_at': '2024-12-31T23:24:47Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-12-31T23:24:47Z',
  'updated_at': '2024-12-31T23:25:28Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60637',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60637',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60637.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60637.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60636',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60636/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60636/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60636/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60636',
  'id': 2764717941,
  'node_id': 'PR_kwDOAA0YD86Gg0bn',
  'number': 60636,
  'title': 'TST(string dtype): Resolve xfail with apply returning an ndarray',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 57522093,
    'node_id': 'MDU6TGFiZWw1NzUyMjA5Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Strings',
    'name': 'Strings',
    'color': '5319e7',
    'default': False,
    'description': 'String extension data type and string data'},
   {'id': 697792067,
    'node_id': 'MDU6TGFiZWw2OTc3OTIwNjc=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Apply',
    'name': 'Apply',
    'color': 'fbca04',
    'default': False,
    'description': 'Apply, Aggregate, Transform, Map'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-12-31T23:08:05Z',
  'updated_at': '2024-12-31T23:08:32Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60636',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60636',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60636.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60636.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n\r\nRef: #35517\r\n\r\nThe `expected` is different than the `result` (even in the case where `using_infer_string=False`) but gets through `assert_series_equal` okay because:\r\n\r\n```python\r\nprint(np.array("bar") == "bar")\r\n# np.True_\r\n```\r\n\r\nThis PR fixes `expected` so that it is the same as `result`. I don\'t see any way to improve `assert_series_equal` here - it\'s an object dtype Series and I think we can only expect `assert_series_equal` to test up to equality of the underlying Python objects.',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60636/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60636/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60635',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60635/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60635/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60635/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60635',
  'id': 2764713494,
  'node_id': 'PR_kwDOAA0YD86Ggzhk',
  'number': 60635,
  'title': 'TST(string dtype): Resolve xfail for corrwith',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 57522093,
    'node_id': 'MDU6TGFiZWw1NzUyMjA5Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Strings',
    'name': 'Strings',
    'color': '5319e7',
    'default': False,
    'description': 'String extension data type and string data'},
   {'id': 5331296438,
    'node_id': 'LA_kwDOAA0YD88AAAABPcUgtg',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/cov/corr',
    'name': 'cov/corr',
    'color': '006b75',
    'default': False,
    'description': ''}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/119',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/119',
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/119/labels',
   'id': 11466880,
   'node_id': 'MI_kwDOAA0YD84ArviA',
   'number': 119,
   'title': '2.3',
   'description': 'on-merge: backport to 2.3.x',
   'creator': {'login': 'jorisvandenbossche',
    'id': 1020496,
    'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
    'avatar_url': 'https://avatars.githubusercontent.com/u/1020496?v=4',
    'gravatar_id': '',
    'url': 'https://api.github.com/users/jorisvandenbossche',
    'html_url': 'https://github.com/jorisvandenbossche',
    'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
    'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
    'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
    'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
    'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
    'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
    'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
    'type': 'User',
    'user_view_type': 'public',
    'site_admin': False},
   'open_issues': 53,
   'closed_issues': 215,
   'state': 'open',
   'created_at': '2024-08-20T19:39:44Z',
   'updated_at': '2024-12-31T23:24:47Z',
   'due_on': None,
   'closed_at': None},
  'comments': 0,
  'created_at': '2024-12-31T22:53:59Z',
  'updated_at': '2024-12-31T23:05:06Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60635',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60635',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60635.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60635.patch',
   'merged_at': None},
  'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
  'closed_by': None,
  'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60635/reactions',
   'total_count': 0,
   '+1': 0,
   '-1': 0,
   'laugh': 0,
   'hooray': 0,
   'confused': 0,
   'heart': 0,
   'rocket': 0,
   'eyes': 0},
  'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60635/timeline',
  'performed_via_github_app': None,
  'state_reason': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60634',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60634/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60634/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60634/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60634',
  'id': 2764708247,
  'node_id': 'PR_kwDOAA0YD86GgydC',
  'number': 60634,
  'title': 'TST(string dtype): Remove xfail for combine_first',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'labels': [{'id': 127685,
    'node_id': 'MDU6TGFiZWwxMjc2ODU=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
    'name': 'Testing',
    'color': 'C4A000',
    'default': False,
    'description': 'pandas testing functions or related to the test suite'},
   {'id': 57522093,
    'node_id': 'MDU6TGFiZWw1NzUyMjA5Mw==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Strings',
    'name': 'Strings',
    'color': '5319e7',
    'default': False,
    'description': 'String extension data type and string data'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2024-12-31T22:37:10Z',
  'updated_at': '2024-12-31T22:39:11Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'draft': False,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60634',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/60634',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/60634.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/60634.patch',
   'merged_at': None},

In [30]:
op[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/60637',
 'id': 2764723015,
 'node_id': 'PR_kwDOAA0YD86Gg1Zt',
 'number': 60637,
 'title': 'TST(string dtype): Resolve xfail for interpolate',
 'user': {'login': 'rhshadrach',
  'id': 45562402,
  'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
  'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/rhshadrach',
  'html_url': 'https://github.com/rhshadrach',
  'followers_url': 'https://api.github.com/users/rhshadrach/followers',
  'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
  'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
  'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
  'repos_url': 'https://api.github.com/users/rhshadrach/repos',
  'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
  'type': 'User',
  'user_view_type': 'public',
  'site_admin': False},
 'labels': [{'id': 127685,
   'node_id': 'MDU6TGFiZWwxMjc2ODU=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Testing',
   'name': 'Testing',
   'color': 'C4A000',
   'default': False,
   'description': 'pandas testing functions or related to the test suite'},
  {'id': 2822342,
   'node_id': 'MDU6TGFiZWwyODIyMzQy',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Missing-data',
   'name': 'Missing-data',
   'color': 'd7e102',
   'default': False,
   'description': 'np.nan, pd.NaT, pd.NA, dropna, isnull, interpolate'},
  {'id': 57522093,
   'node_id': 'MDU6TGFiZWw1NzUyMjA5Mw==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Strings',
   'name': 'Strings',
   'color': '5319e7',
   'default': False,
   'description': 'String extension data type and string data'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': {'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/119',
  'html_url': 'https://github.com/pandas-dev/pandas/milestone/119',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/119/labels',
  'id': 11466880,
  'node_id': 'MI_kwDOAA0YD84ArviA',
  'number': 119,
  'title': '2.3',
  'description': 'on-merge: backport to 2.3.x',
  'creator': {'login': 'jorisvandenbossche',
   'id': 1020496,
   'node_id': 'MDQ6VXNlcjEwMjA0OTY=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/1020496?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jorisvandenbossche',
   'html_url': 'https://github.com/jorisvandenbossche',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
   'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
   'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
   'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
   'type': 'User',
   'user_view_type': 'public',
   'site_admin': False},
  'open_issues': 53,
  'closed_issues': 215,
  'state': 'open',
  'created_at': '2024-08-20T19:39:44Z',
  'updated_at': '2024-12-31T23:24:47Z',
  'due_on': None,
  'closed_at': None},
 'comments': 0,
 'created_at': '2024-12-31T23:24:47Z',
 'updated_at': '2024-12-31T23:25:28Z',
 'closed_at': None,
 'author_association': 'MEMBER',
 'active_lock_reason': None,
 'draft': False,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/60637',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/60637',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/60637.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/60637.patch',
  'merged_at': None},
 'body': '- [ ] closes #xxxx (Replace xxxx with the GitHub issue number)\r\n- [ ] [Tests added and passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#writing-tests) if fixing a bug or adding a new feature\r\n- [ ] All [code checks passed](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#pre-commit).\r\n- [ ] Added [type annotations](https://pandas.pydata.org/pandas-docs/dev/development/contributing_codebase.html#type-hints) to new arguments/methods/functions.\r\n- [ ] Added an entry in the latest `doc/source/whatsnew/vX.X.X.rst` file if fixing a bug or adding a new feature.\r\n',
 'closed_by': None,
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/60637/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [32]:
op[0]['title']

'TST(string dtype): Resolve xfail for interpolate'

In [34]:
for i in range(len(op)):
    print(op[i]['title'])

TST(string dtype): Resolve xfail for interpolate
TST(string dtype): Resolve xfail with apply returning an ndarray
TST(string dtype): Resolve xfail for corrwith
TST(string dtype): Remove xfail for combine_first
ENH: Implement cum* methods for PyArrow strings
DOC: Comparing .loc/.iloc to tuples and chained indexing
Implement first-class List type
TST(string dtype): Resolve HDF5 xfails in test_round_trip.py
TST(string dtype): Resolve HDF5 xfails in test_put.py
Update timestamps.pyx
[WIP] `df.apply`: add support for `engine='bodo'`
ENH: native support for universal_pathlib (upath) IO
ENH: RST support
ENH: Make print_thing respect display.precision for Real numbers
DOC: Adding a Persian version of Pandas Cheat Sheet
BUG: Segfault on `np.maximum(series, ...)`
to_sql doesn't seem to allow upload of df with some columns when the target table has a calculated column
DOC: Add Hugging Face Hub access
BUG: Dropped Index Name on Aggregated Index Column with MultiIndexed DataFrame
BUG: loc[] returns object type instead of float
BUG: unable to generate daily business frequency data
TST: Make test_sql.py parallelizable
BUG: Arrow Struct columns cannot be grouped on (ArrowNotImplementedError)
API: `future.default_arg` for method-specific behavior changes
API: pass `ddof` down to Cythonised `std` / `var` in `groupby.agg`
BUG: Test failures with 2.2.3 on Fedora Rawhide
ENH: Add the `observed` parameter to `get_dummies`
BUG: `Timestamp.normalize()` can overflow silently
ENH: Add first and last aggregations to Rolling and Expanding
DOC: fix docstring validation errors for pandas.core and pandas.errors

In [36]:
pd.DataFrame(op,columns=['url','title'])

,url,title
0,https://api.github.com/repos/pandas-dev/pandas...,TST(string dtype): Resolve xfail for interpolate
1,https://api.github.com/repos/pandas-dev/pandas...,TST(string dtype): Resolve xfail with apply re...
2,https://api.github.com/repos/pandas-dev/pandas...,TST(string dtype): Resolve xfail for corrwith
3,https://api.github.com/repos/pandas-dev/pandas...,TST(string dtype): Remove xfail for combine_first
4,https://api.github.com/repos/pandas-dev/pandas...,ENH: Implement cum* methods for PyArrow strings
5,https://api.github.com/repos/pandas-dev/pandas...,DOC: Comparing .loc/.iloc to tuples and chaine...
6,https://api.github.com/repos/pandas-dev/pandas...,Implement first-class List type
7,https://api.github.com/repos/pandas-dev/pandas...,TST(string dtype): Resolve HDF5 xfails in test...
8,https://api.github.com/repos/pandas-dev/pandas...,TST(string dtype): Resolve HDF5 xfails in test...
9,https://api.github.com/repos/pandas-dev/pandas...,Update timestamps.pyx
10,https://api.github.com/repos/pandas-dev/pandas...,[WIP] `df.apply`: add support for `engine='bodo'`
11,https://api.github.com/repos/pandas-dev/pandas...,ENH: native support for universal_pathlib (upa...
12,https://api.github.com/repos/pandas-dev/pandas...,ENH: RST support
13,https://api.github.com/repos/pandas-dev/pandas...,ENH: Make print_thing respect display.precisio...
14,https://api.github.com/repos/pandas-dev/pandas...,DOC: Adding a Persian version of Pandas Cheat ...
15,https://api.github.com/repos/pandas-dev/pandas...,"BUG: Segfault on `np.maximum(series, ...)`"
16,https://api.github.com/repos/pandas-dev/pandas...,to_sql doesn't seem to allow upload of df with...
17,https://api.github.com/repos/pandas-dev/pandas...,DOC: Add Hugging Face Hub access
18,https://api.github.com/repos/pandas-dev/pandas...,BUG: Dropped Index Name on Aggregated Index Co...
19,https://api.github.com/repos/pandas-dev/pandas...,BUG: loc[] returns object type instead of float
20,https://api.github.com/repos/pandas-dev/pandas...,BUG: unable to generate daily business frequen...
21,https://api.github.com/repos/pandas-dev/pandas...,TST: Make test_sql.py parallelizable
22,https://api.github.com/repos/pandas-dev/pandas...,BUG: Arrow Struct columns cannot be grouped on...
23,https://api.github.com/repos/pandas-dev/pandas...,API: `future.default_arg` for method-specific ...
24,https://api.github.com/repos/pandas-dev/pandas...,API: pass `ddof` down to Cythonised `std` / `v...
25,https://api.github.com/repos/pandas-dev/pandas...,BUG: Test failures with 2.2.3 on Fedora Rawhide
26,https://api.github.com/repos/pandas-dev/pandas...,ENH: Add the `observed` parameter to `get_dumm...
27,https://api.github.com/repos/pandas-dev/pandas...,BUG: `Timestamp.normalize()` can overflow sile...
28,https://api.github.com/repos/pandas-dev/pandas...,ENH: Add first and last aggregations to Rollin...
29,https://api.github.com/repos/pandas-dev/pandas...,DOC: fix docstring validation errors for panda...

In [37]:
cs=pd.DataFrame(op)
cs.to_csv("git.csv")

In [41]:
op[0]['user']

{'login': 'rhshadrach',
 'id': 45562402,
 'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
 'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/rhshadrach',
 'html_url': 'https://github.com/rhshadrach',
 'followers_url': 'https://api.github.com/users/rhshadrach/followers',
 'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
 'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
 'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
 'repos_url': 'https://api.github.com/users/rhshadrach/repos',
 'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
 'type': 'User',
 'user_view_type': 'public',
 'site_admin': False}

In [46]:
li=[]
for i in range(len(op)):
    li.append(op[i]['user'])
pd.DataFrame(li)

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,user_view_type,site_admin
0,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
1,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
2,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
3,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
4,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
5,johnasiano,54973763,MDQ6VXNlcjU0OTczNzYz,https://avatars.githubusercontent.com/u/549737...,,https://api.github.com/users/johnasiano,https://github.com/johnasiano,https://api.github.com/users/johnasiano/followers,https://api.github.com/users/johnasiano/follow...,https://api.github.com/users/johnasiano/gists{...,https://api.github.com/users/johnasiano/starre...,https://api.github.com/users/johnasiano/subscr...,https://api.github.com/users/johnasiano/orgs,https://api.github.com/users/johnasiano/repos,https://api.github.com/users/johnasiano/events...,https://api.github.com/users/johnasiano/receiv...,User,public,False
6,WillAyd,609873,MDQ6VXNlcjYwOTg3Mw==,https://avatars.githubusercontent.com/u/609873...,,https://api.github.com/users/WillAyd,https://github.com/WillAyd,https://api.github.com/users/WillAyd/followers,https://api.github.com/users/WillAyd/following...,https://api.github.com/users/WillAyd/gists{/gi...,https://api.github.com/users/WillAyd/starred{/...,https://api.github.com/users/WillAyd/subscript...,https://api.github.com/users/WillAyd/orgs,https://api.github.com/users/WillAyd/repos,https://api.github.com/users/WillAyd/events{/p...,https://api.github.com/users/WillAyd/received_...,User,public,False
7,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
8,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
9,johnasiano,54973763,MDQ6VXNlcjU0OTczNzYz,https://avatars.githubusercontent.com/u/549737...,,https://api.github.com/users/johnasiano,https://github.com/johnasiano,https://api.github.com/users/johnasiano/followers,https://api.github.com/users/johnasiano/follow...,https://api.github.com/users/johnasiano/gists{...,https://api.github.com/users/johnasiano/starre...,https://api.github.com/users/johnasiano/subscr...,https://api.github.com/users/johnasiano/orgs,https://api.github.com/users/johnasiano/repos,https://api.github.com/users/johnasiano/events...,https://api.github.com/users/johnasiano/receiv...,User,public,False
10,scott-routledge2,171585127,U_kgDOCjouZw,https://avatars.githubusercontent.com/u/171585...,,https://api.github.com/users/scott-routledge2,https://github.com/scott-routledge2,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,https://api.github.com/users/scott-routledge2/...,User,public,False
11,zkurtz,4934167,MDQ6VXNlcjQ5MzQxNjc=,https://avatars.githubusercontent.com/u/493416...,,https://api.github.com/users/zkurtz,https://github.com/zkurtz,https://api.github.com/users/zkurtz/followers,https://api.github.com/users/zkurtz/following{...,https://api.github.com/users/zkurtz/gists{/gis...,https://api.github.com/users/zkurtz/starred{/o...,https://api.github.com/users/zkurtz/subscriptions,https://api.github.com/users/zkurtz/orgs,https://api.github.com/users/zkurtz/repos,https://api.github.com/users/zkurtz/events{/pr...,https://api.github.com/users/zkurtz/received_e...,User,public,False
12,R5dan,167037995,U_kgDOCfTMKw,https://avatars.githubusercontent.com/u/167037...,,https://api.github.com/users/R5dan,https://github.com/R5dan,https://api.github.com/users/R5dan/followers,https://api.github.com/users/R5dan/following{/...,https://api.github.com/users/R5dan/gists{/gist...,https://api.github.com/users/R5dan/starred{/ow...,https://api.github.com/users/R5dan/subscriptions,https://api.github.com/users/R5dan/orgs,https://api.github.com/users/R5dan/repos,https://api.github.com/users/R5dan/events{/pri...,https://api.github.com/users/R5dan/received_ev...,User,public,False
13,aydinomer00,109145643,U_kgDOBoFuKw,https://avatars.githubusercontent.com/u/109145...,,https://api.github.com/users/aydinomer00,https://github.com/aydinomer00,https://api.github.com/users/aydinomer00/follo...,https://api.github.com/users/aydinomer00/follo...,https://api.github.com/users/aydinomer00/gists...,https://api.github.com/users/aydinomer00/starr...,https://api.github.com/users/aydinomer00/subsc...,https://api.github.com/users/aydinomer00/orgs,https://api.github.com/users/aydinomer00/repos,https://api.github.com/users/aydinomer00/event...,https://api.github.com/users/aydinomer00/recei...,User,public,False
14,HasssanRad,115450900,U_kgDOBuGkFA,https://avatars.githubusercontent.com/u/115450...,,https://api.github.com/users/HasssanRad,https://github.com/HasssanRad,https://api.github.com/users/HasssanRad/followers,https://api.github.com/users/HasssanRad/follow...,https://api.github.com/users/HasssanRad/gists{...,https://api.github.com/users/HasssanRad/starre...,https://api.github.com/users/HasssanRad/subscr...,https://api.github.com/users/HasssanRad/orgs,https://api.github.com/users/HasssanRad/repos,https://api.github.com/users/HasssanRad/events...,https://api.github.com/users/HasssanRad/receiv...,User,public,False
15,ssche,7367411,MDQ6VXNlcjczNjc0MTE=,https://avatars.githubusercontent.com/u/736741...,,https://api.github.com/users/ssche,https://github.com/ssche,https://api.github.com/users/ssche/followers,https://api.github.com/users/ssche/following{/...,https://api.github.com/users/ssche/gists{/gist...,https://api.github.com/users/ssche/starred{/ow...,https://api.github.com/users/ssche/subscriptions,https://api.github.com/users/ssche/orgs,https://api.github.com/users/ssche/repos,https://api.github.com/users/ssche/events{/pri...,https://api.github.com/users/ssche/received_ev...,User,public,False
16,qzoxec,2993211,MDQ6VXNlcjI5OTMyMTE=,https://avatars.githubusercontent.com/u/299321...,,https://api.github.com/users/qzoxec,https://github.com/qzoxec,https://api.github.com/users/qzoxec/followers,https://api.github.com/users/qzoxec/following{...,https://api.github.com/users/qzoxec/gists{/gis...,https://api.github.com/users/qzoxec/starred{/o...,https://api.github.com/users/qzoxec/subscriptions,https://api.github.com/users/qzoxec/orgs,https://api.github.com/users/qzoxec/repos,https://api.github.com/users/qzoxec/events{/pr...,https://api.github.com/users/qzoxec/received_e...,User,public,False
17,lhoestq,42851186,MDQ6VXNlcjQyODUxMTg2,https://avatars.githubusercontent.com/u/428511...,,https://api.github.com/users/lhoestq,https://github.com/lhoestq,https://api.github.com/users/lhoestq/followers,https://api.github.com/users/lhoestq/following...,https://api.github.com/users/lhoestq/gists{/gi...,https://api.github.com/users/lhoestq/starred{/...,https://api.github.com/users/lhoestq/subscript...,https://api.github.com/users/lhoestq/orgs,https://api.github.com/users/lhoestq/repos,https://api.github.com/users/lhoestq/events{/p...,https://api.github.com/users/lhoestq/received_...,User,public,False
18,RahimD,46304915,MDQ6VXNlcjQ2MzA0OTE1,https://avatars.githubusercontent.com/u/463049...,,https://api.github.com/users/RahimD,https://github.com/RahimD,https://api.github.com/users/RahimD/followers,https://api.github.com/users/RahimD/following{...,https://api.github.com/users/RahimD/gists{/gis...,https://api.github.com/users/RahimD/starred{/o...,https://api.github.com/users/RahimD/subscriptions,https://api.github.com/users/RahimD/orgs,https://api.github.com/users/RahimD/repos,https://api.github.com/users/RahimD/events{/pr...,https://api.github.com/users/RahimD/received_e...,User,public,False
19,metazoic,39023576,MDQ6VXNlcjM5MDIzNTc2,https://avatars.githubusercontent.com/u/390235...,,https://api.github.com/users/metazoic,https://github.com/metazoic,https://api.github.com/users/metazoic/followers,https://api.github.com/users/metazoic/followin...,https://api.github.com/users/metazoic/gists{/g...,https://api.github.com/users/metazoic/starred{...,https://api.github.com/users/metazoic/subscrip...,https://api.github.com/users/metazoic/orgs,https://api.github.com/users/metazoic/repos,https://api.github.com/users/metazoic/events{/...,https://api.github.com/users/metazoic/received...,User,public,False
20,ngupta23,33585645,MDQ6VXNlcjMzNTg1NjQ1,https://avatars.githubusercontent.com/u/335856...,,https://api.github.com/users/ngupta23,https://github.com/ngupta23,https://api.github.com/users/ngupta23/followers,https://api.github.com/users/ngupta23/followin...,https://api.github.com/users/ngupta23/gists{/g...,https://api.github.com/users/ngupta23/starred{...,https://api.github.com/users/ngupta23/subscrip...,https://api.github.com/users/ngupta23/orgs,https://api.github.com/users/ngupta23/repos,https://api.github.com/users/ngupta23/events{/...,https://api.github.com/users/ngupta23/received...,User,public,False
21,UmbertoFasci,48659857,MDQ6VXNlcjQ4NjU5ODU3,https://avatars.githubusercontent.com/u/486598...,,https://api.github.com/users/UmbertoFasci,https://github.com/UmbertoFasci,https://api.github.com/users/UmbertoFasci/foll...,https://api.github.com/users/UmbertoFasci/foll...,https://api.github.com/users/UmbertoFasci/gist...,https://api.github.com/users/UmbertoFasci/star...,https://api.github.com/users/UmbertoFasci/subs...,https://api.github.com/users/UmbertoFasci/orgs,https://api.github.com/users/UmbertoFasci/repos,https://api.github.com/users/UmbertoFasci/even...,https://api.github.com/users/UmbertoFasci/rece...,User,public,False
22,a-reich,73507369,MDQ6VXNlcjczNTA3MzY5,https://avatars.githubusercontent.com/u/735073...,,https://api.github.com/users/a-reich,https://github.com/a-reich,https://api.github.com/users/a-reich/followers,https://api.github.com/users/a-reich/following...,https://api.github.com/users/a-reich/gists{/gi...,https://api.github.com/users/a-reich/starred{/...,https://api.github.com/users/a-reich/subscript...,https://api.github.com/users/a-reich/orgs,https://api.github.com/users/a-reich/repos,https://api.github.com/users/a-reich/events{/p...,https://api.github.com/users/a-reich/received_...,User,public,False
23,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
24,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,public,False
25,opoplawski,814662,MDQ6VXNlcjgxNDY2Mg==,https://avatars.githubusercontent.com/u/814662...,,https://api.github.com/users/opoplawski,https://github.com/opoplawski,https://api.github.com/users/opoplawski/followers,https://api.github.com/users/opoplawski/follow...,https://api.github.com/users/opoplawski/gists{...,https://api.github.com/users/opoplawski/starre...,https://api.github.com/users/opoplawski/subscr...,https://api.github.com/users/opoplawski/orgs,https://api.github.com/users/opoplawski/repos,https://api.github.com/users/opoplawski/events...,https://api.github.com/users/opoplawski/receiv...,User,public,False
26,alonme,25847554,MDQ6VXNlcjI1ODQ3NTU0,https://avatars.githubusercontent.com/u/258475...,,https://api.github.com/users/alonme,https://github.com/alonme,https://api.github.com/users/alonme/followers,https://api.github.com/users/alonme/following{...,https://api.github.com/users/alonme/gists{/gis...,https://api.github.com/users/alonme/starred{/o...,https://api.github.com/users/alonme/subscriptions,https://api.github.com/users/alonme/orgs,https://api.github.com/users/alonme/repos,https://api.github.com/users/alonme/events{/pr...,https://api.github.com/users/alonme/received_e...,User,public,False
27,wjandrea,22385371,MDQ6VXNlcjIyMzg1Mzcx,https://avatars.githubusercontent.com/u/223853...,,https://api.github.com/users/wjandrea,https://github.com/wjandrea,https://api.github.com/users/wjandrea/followers,https://api.github.com/users/wjandrea/followin...,https://api.github.com/users/wjandrea/gists{/g...,https://api.github.com/users/wjandrea/starred{...,https://api.github.com/users/wjandrea/subscrip...,https://api.github.com/users/wjandrea/orgs,https://api.github.com/users/wjandrea/repos,https://api.github.com/users/wjandrea/events{/...,https://api.github.com/users/wjandrea/received...,User,public,False
28,snitish,7503884,MDQ6VXNlcjc1MDM4ODQ=,https://avatars.githubusercontent.com/u/750388...,,https://api.github.com/users/snitish,https://github.com/snitish,https://api.github.com/users/snitish/followers,https://api.github.com/users/snitish/following...,https://api.github.com/users/snitish/gists{/gi...,https://api.github.com/users/snitish/starred{/...,https://api.github.com/users/snitish/subscript...,https://api.github.com/users/snitish/orgs,https://api.github.com/users/snitish/repos,https://api.github.com/users/snitish/events{/p...,https://api.github.com/users/snitish/received_...,User,public,False
29,sunlight798,138234530,U_kgDOCD1Kog,https://avatars.githubusercontent.com/u/138234...,,https://api.github.com/users/sunlight798,https://github.com/sunlight798,https://api.github.com/users/sunlight798/follo...,https://api.github.com/users/sunlight798/follo...,https://api.github.com/users/sunlight798/gists...,https://api.github.com/users/sunlight798/starr...,https://api.github.com/users/sunlight798/subsc...,https://api.github.com/users/sunlight798/orgs,https://api.github.com/users/sunlight798/repos,https://api.github.com/users/sunlight798/event...,https://api.github.com/users/sunlight798/recei...,User,public,False

In [53]:
data=pd.DataFrame.from_records(op['user'])
data.head()

TypeError: list indices must be integers or slices, not str

In [56]:
json_data=pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data=pd.DataFrame.from_records(json_data['user'])
data.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,user_view_type,site_admin
0,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
1,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
2,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
3,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False
4,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,public,False

Pickle file format

In [11]:
import pandas as pd,requests

In [12]:
form_file=pd.read_csv("mostruns.csv")

In [13]:
form_file.to_pickle("pickle")

In [14]:
pwd()

'd:\\ML\\Pandas'

In [15]:
pd.to_pickle("D:\\ML\\Pandas\\pickle")

TypeError: to_pickle() missing 1 required positional argument: 'filepath_or_buffer'

In [16]:
form_file

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,BKG Mendis (SL),2024-2024,48,55,5,1860,143,37.20,2040,91.17,2,11,3,200,37
1,1,YBK Jaiswal (IND),2024-2024,23,37,3,1771,214*,52.08,2301,76.96,3,11,3,200,52
2,2,P Nissanka (SL),2024-2024,37,42,4,1696,210*,44.63,1600,106.00,4,9,2,215,36
3,3,HC Brook (ENG),2024-2024,27,31,4,1575,317,58.33,1646,95.68,5,6,1,152,30
4,4,JE Root (ENG),2024-2024,17,31,3,1556,262,55.57,2455,63.38,6,5,1,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,N Pooran (WI),2024-2024,21,20,2,464,98,25.77,326,142.33,-,2,1,25,39
146,146,JC Buttler (ENG),2024-2024,15,13,2,462,84,42.00,281,164.41,-,3,2,47,23
147,147,J Liyanage (SL),2024-2024,18,13,3,462,101*,46.20,567,81.48,1,3,-,31,11
148,148,E Lewis (WI),2024-2024,14,14,2,462,102*,38.50,363,127.27,1,3,1,38,30
149,149,RR Patel (KENYA),2024-2024,18,16,2,460,120,32.85,307,149.83,1,2,1,42,25

In [17]:
pip install tables

Requirement already satisfied: tables in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (3.10.1)
Requirement already satisfied: numpy>=1.20.0 in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from tables) (1.26.4)
Requirement already satisfied: numexpr>=2.6.2 in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from tables) (2.10.2)
Requirement already satisfied: packaging in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from tables) (24.0)
Requirement already satisfied: py-cpuinfo in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from tables) (9.0.0)
Requirement already satisfied: blosc2>=2.3.0 in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from tables) (3.0.0)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from tables) (4.12.2)
Requirement already satisfied: ndindex in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from blosc2>=2.3.0->tables) (1.9.2)
Requirement already satisfied: msgpack in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from blosc2>=2.3.0->tables) (1.1.0)
Requirement already satisfied: httpx in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from blosc2>=2.3.0->tables) (0.27.2)
Requirement already satisfied: anyio in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from httpx->blosc2>=2.3.0->tables) (4.4.0)
Requirement already satisfied: certifi in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from httpx->blosc2>=2.3.0->tables) (2024.7.4)
Requirement already satisfied: httpcore==1.* in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from httpx->blosc2>=2.3.0->tables) (1.0.5)
Requirement already satisfied: idna in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from httpx->blosc2>=2.3.0->tables) (3.8)
Requirement already satisfied: sniffio in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from httpx->blosc2>=2.3.0->tables) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\niraj\appdata\local\programs\python\python312\lib\site-packages (from httpcore==1.*->httpx->blosc2>=2.3.0->tables) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
h5_data=pd.HDFStore('test.h5')

In [19]:
h5_data['obj1'] =form_file

In [20]:
h5_data['obj1']

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,0,BKG Mendis (SL),2024-2024,48,55,5,1860,143,37.20,2040,91.17,2,11,3,200,37
1,1,YBK Jaiswal (IND),2024-2024,23,37,3,1771,214*,52.08,2301,76.96,3,11,3,200,52
2,2,P Nissanka (SL),2024-2024,37,42,4,1696,210*,44.63,1600,106.00,4,9,2,215,36
3,3,HC Brook (ENG),2024-2024,27,31,4,1575,317,58.33,1646,95.68,5,6,1,152,30
4,4,JE Root (ENG),2024-2024,17,31,3,1556,262,55.57,2455,63.38,6,5,1,147,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,145,N Pooran (WI),2024-2024,21,20,2,464,98,25.77,326,142.33,-,2,1,25,39
146,146,JC Buttler (ENG),2024-2024,15,13,2,462,84,42.00,281,164.41,-,3,2,47,23
147,147,J Liyanage (SL),2024-2024,18,13,3,462,101*,46.20,567,81.48,1,3,-,31,11
148,148,E Lewis (WI),2024-2024,14,14,2,462,102*,38.50,363,127.27,1,3,1,38,30
149,149,RR Patel (KENYA),2024-2024,18,16,2,460,120,32.85,307,149.83,1,2,1,42,25

In [21]:
h5_data.put('obj2',form_file,format='table')

In [22]:
h5_data.select('obj2',where=['index >=10 and index <=15'])

,Unnamed: 0,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
10,10,Shubman Gill (IND),2024-2024,23,33,3,1189,119*,39.63,1686,70.52,3,5,3,127,24
11,11,T Stubbs (SA),2024-2024,33,38,7,1174,122,37.87,1562,75.16,3,3,2,95,29
12,12,Babar Azam (PAK),2024-2024,35,39,3,1168,75,32.44,1273,91.75,-,9,3,128,21
13,13,RG Sharma (IND),2024-2024,28,40,3,1154,131,31.18,1329,86.83,3,7,3,131,42
14,14,KS Williamson (NZ),2024-2024,15,23,3,1124,156,56.20,1950,57.64,4,5,1,132,7
15,15,Muhammad Waseem (UAE),2024-2024,37,37,3,1110,100,32.64,873,127.14,1,8,4,83,61

In [24]:
df=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv")

In [25]:
df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [27]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [28]:
df.dtypes=="object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [29]:
df.dtypes[df.dtypes=='object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [30]:
df.dtypes[df.dtypes=='object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [32]:
df1=df[df.dtypes[df.dtypes=='object'].index]

In [33]:
df1

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [34]:
df1.describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [35]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [50]:
df.dtypes[df.dtypes=='float64'].index

Index(['Age', 'Fare'], dtype='object')

In [53]:
df3=df[df.dtypes[df.dtypes=='float64'].index]
df3

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [54]:
type(df3)

pandas.core.frame.DataFrame

In [56]:
df[['Name',"Age"]]

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [58]:
df[df.dtypes[df.dtypes=='float64'].index]

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [61]:
df["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [59]:
type(df['Name'])

pandas.core.series.Series

In [62]:
df[["Name"]]

                                                  Name
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
..                                                 ...
886                              Montvila, Rev. Juozas
887                       Graham, Miss. Margaret Edith
888           Johnston, Miss. Catherine Helen "Carrie"
889                              Behr, Mr. Karl Howell
890                                Dooley, Mr. Patrick

[891 rows x 1 columns]

In [60]:
type(df[["Name"]])

pandas.core.frame.DataFrame

In [64]:
df["Name"][5:10:1]

5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [65]:
df['Ticket'][5:16]

5        330877
6         17463
7        349909
8        347742
9        237736
10      PP 9549
11       113783
12    A/5. 2151
13       347082
14       350406
15       248706
Name: Ticket, dtype: object

In [66]:
sorted(df['Ticket'][5:16])

['113783',
 '17463',
 '237736',
 '248706',
 '330877',
 '347082',
 '347742',
 '349909',
 '350406',
 'A/5. 2151',
 'PP 9549']

In [67]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [72]:
for i in df.columns:
    print(i,end=" ")

PassengerId Survived Pclass Name Sex Age SibSp Parch Ticket Fare Cabin Embarked

In [75]:
df['niraj']="Patil"

In [76]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,niraj
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Patil
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Patil
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Patil
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Patil
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Patil
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Patil
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Patil
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Patil
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Patil
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Patil

In [77]:
df['niraj']=df['PassengerId']

In [78]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,niraj
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891

In [79]:
pd.Categorical(df['Cabin'])

[NaN, 'C85', NaN, 'C123', NaN, ..., NaN, 'B42', NaN, 'C148', NaN]
Length: 891
Categories (147, object): ['A10', 'A14', 'A16', 'A19', ..., 'F38', 'F4', 'G6', 'T']

In [80]:
pd.Categorical(df['Pclass'])

[3, 1, 3, 1, 3, ..., 2, 1, 3, 1, 3]
Length: 891
Categories (3, int64): [1, 2, 3]

In [82]:
df['Pclass'].unique()

array([3, 1, 2], dtype=int64)

In [95]:
[df['Cabin'].isnull()==True]

[0       True
 1      False
 2       True
 3      False
 4       True
        ...
 886     True
 887    False
 888     True
 889    False
 890     True
 Name: Cabin, Length: 891, dtype: bool]

In [106]:
ser=df['Cabin'][df['Cabin'].isnull()==False]

In [107]:
ser.index

Index([  1,   3,   6,  10,  11,  21,  23,  27,  31,  52,
       ...
       849, 853, 857, 862, 867, 871, 872, 879, 887, 889],
      dtype='int64', length=204)

In [108]:
df.iloc[ser.index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,niraj
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,11
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,872
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,873
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,880
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890

In [110]:
df.iloc[[1,6,5,4,7]]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,niraj
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,6
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,8

In [114]:
df.iloc[df['Cabin'][df['Cabin'].isnull()==True].index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,niraj
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,6
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,885
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,886
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891

In [119]:
df.iloc[df['Fare'][df['Fare'].isnull()==False].index]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,niraj
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891

In [120]:
df['Fare']==max(df['Fare'])

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [121]:
max(df['Fare'])

512.3292

In [124]:
df[['Name','Fare']][df['Fare']==max(df['Fare'])]

                                   Name      Fare
258                    Ward, Miss. Anna  512.3292
679  Cardeza, Mr. Thomas Drake Martinez  512.3292
737              Lesurer, Mr. Gustave J  512.3292

In [128]:
df['new column']=df['Name']+str(df['Age'])

In [129]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,niraj,new column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,"Braund, Mr. Owen Harris0 22.0\n1 38...."
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3,"Heikkinen, Miss. Laina0 22.0\n1 38.0..."
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)0 ..."
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5,"Allen, Mr. William Henry0 22.0\n1 38..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887,"Montvila, Rev. Juozas0 22.0\n1 38.0\..."
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888,"Graham, Miss. Margaret Edith0 22.0\n1 ..."
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889,"Johnston, Miss. Catherine Helen ""Carrie""0 ..."
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890,"Behr, Mr. Karl Howell0 22.0\n1 38.0\..."
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891,"Dooley, Mr. Patrick0 22.0\n1 38.0\n2..."