In [2]:
d={}
type(d)

dict

In [4]:
x={"name":"sudh","age":19,"city":'nashik'}
x

{'name': 'sudh', 'age': 19, 'city': 'nashik'}

In [6]:
for i in x:
    print(i,x[i])

name sudh
age 19
city nashik

In [7]:
"city"in x

True

In [14]:
x={"name":"sudh","age":15,"city":'nashik'}
for i in x:
    if i=="age":
        if x[i]>17:
            print("age is fine give him wine")
        else:
            x[i]=20
x

{'name': 'sudh', 'age': 20, 'city': 'nashik'}

In [ ]:
#dictionary comprehension
dict1={i:i*i for i in range(11) }
type({i:i*i for i in range(11) })

dict

In [ ]:
#set comprehension
{i for i in range(11)}
type({i for i in range(11)})

set

In [22]:
dict1={i:i*i for i in range(11) }
for i in dict1:
    print(i,dict1[i])

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100

In [26]:
l=([1,2,3],2,'krish',(1,2,3,4))
for i in range(len(l)):
    print(i,l[i])

0 [1, 2, 3]
1 2
2 krish
3 (1, 2, 3, 4)

In [31]:
e={56:{1,2,3,4},64:{4,8,5,32,1}}
e[64]

{1, 4, 5, 8, 32}

In [34]:
dict1={}
for i in range(3):
    key=int(input())
    value=input()
    dict1[key]=value
print(dict1)

{1: 'suy', 2: 'se', 3: 'dr'}