In [3]:
def square(n):
    return n*n

square(17890)

320052100

In [6]:
def test(x,y):
    return int(x)

type(test("19","yu"))

int

In [8]:
def test(n,m):
    return n*10,m*15

test(15,45)

(150, 675)

In [9]:
type(test(23,34))

tuple

In [11]:
x,y=test(23,34)
print(x,y)

230 510

In [19]:
def test1(l,n,m):
    return n*10,l*15,None
x,y,_= test1(3,4,2)

In [20]:
print(x,y)

40 45

In [23]:
_,_,m=test1(45,56,34)
print(_,_,m)

675 675 None

In [27]:
n =[1,2,3,4]
def test2(n):
    return n,n*2
test2(n)

([1, 2, 3, 4], [1, 2, 3, 4, 1, 2, 3, 4])

In [28]:
def test3(n,m=90):
    return n+m
test3(70)

160

In [31]:
test3(80,10)

90

In [36]:
def boolx(x=True,y=False):
    return x+y
boolx(False,False)

0

In [37]:
def travel(bike=True,car=False):
    plan_travel=bike or car
    return bike,car,plan_travel

travel()

(True, False, True)

In [38]:
travel(_,True)

(675, True, 675)

In [39]:
#aregs

In [42]:
def test4(*arg):
    return arg

test4("sudhanshu",11,False,12.90)

('sudhanshu', 11, False, 12.9)

In [52]:
def test5(*arg):
    return list(arg+arg)
test5([1,2,3],[4,5,6],["niraj","rt",False])

[[1, 2, 3],
 [4, 5, 6],
 ['niraj', 'rt', False],
 [1, 2, 3],
 [4, 5, 6],
 ['niraj', 'rt', False]]

In [ ]:
def test6(a,b,c):
    return a+b+c
test6([1,2,3],[4,5,6],["niraj","rt",False])

[1, 2, 3, 4, 5, 6, 'niraj', 'rt', False]

In [57]:
def test7(*arg):
    l=[]
    for i in arg:
        l.append(i)
    return l
test7([1,2,3],[4,5,6],["niraj","rt",False])

[[1, 2, 3], [4, 5, 6], ['niraj', 'rt', False]]

In [58]:
test7([1,2,3,45,34],[90,7,4,5,6])

[[1, 2, 3, 45, 34], [90, 7, 4, 5, 6]]

** kwargs :stores the value in key and value format

In [66]:
def test8(**kwargs):
    return kwargs
test8(a=6,b=(1,2,3),c=[12,34,45])

{'a': 6, 'b': (1, 2, 3), 'c': [12, 34, 45]}

In [70]:
dict(test8(a=6,b=(1,2,3),c=[12,34,45]))

{'a': 6, 'b': (1, 2, 3), 'c': [12, 34, 45]}

In [75]:
def classify(*args):
    cl=[]
    s=[]
    it=[]
    fl=[]
    li=[]
    tu=[]
    dic=[]
    for i in args:
        if type(i)==str:
            s.append(i)
        if type(i)==int:
            it.append(i)
        if type(i)==float:
            fl.append(i)
        if type(i)==list:
            li.append(i)
        if type(i)==tuple:
            tu.append(i)
        if type(i)==dict:
            dic.append(i)
    cl.append(s)
    cl.append(it)
    cl.append(fl)
    cl.append(li)
    cl.append(tu)
    cl.append(dic)
    return cl

In [77]:
classify('a',6,'b',(1,2,3),'c',[12,34,45],12.90,{12:1,45:12},12,23,45.0,0.89)

[['a', 'b', 'c'],
 [6, 12, 23],
 [12.9, 45.0, 0.89],
 [[12, 34, 45]],
 [(1, 2, 3)],
 [{12: 1, 45: 12}]]

In [ ]:
def conca(*args):
    return [i for i in args]
conca('a',6,'b',(1,2,3),'c',[12,34,45],12.90,{12:1,45:12},12,23,45.0,0.89)

['a',
 6,
 'b',
 (1, 2, 3),
 'c',
 [12, 34, 45],
 12.9,
 {12: 1, 45: 12},
 12,
 23,
 45.0,
 0.89]

In [82]:
def conca(**kwargs):
    return [i for i in kwargs]
conca(a=[1,2,3,4],b=["niraj",'gy',"yu"],c=[1.0,89.0])

['a', 'b', 'c']