In [5]:
def test(**kwargs):
    return kwargs.values()

In [6]:
test(a="sudh",b=["niraj",1,2.3,False],c=(1,2,3,4),d=0)

dict_values(['sudh', ['niraj', 1, 2.3, False], (1, 2, 3, 4), 0])

In [ ]:
#lambda functions

In [7]:
def test1(name,mail_id):
    con=name+mail_id
    return mail_id,name,con

In [9]:
test1("Sudh","sudhanshu@fy.com")

('sudhanshu@fy.com', 'Sudh', 'Sudhsudhanshu@fy.com')

In [17]:
m=lambda x,y: x+y

In [18]:
m(10,20)

30

In [19]:
m("sudh","kumar")

'sudhkumar'

In [20]:
m([1,2,3],[4,5,6,3])

[1, 2, 3, 4, 5, 6, 3]

In [24]:
n=lambda arg1,arg2:print(arg1*arg2)
n("b",3)

bbb

In [26]:
r=10
def test3(a,b):
    r=a/b
    print(r)
    #return float(a/b)

In [27]:
test3(2,100)

0.02

DOCSTRING:

In [31]:
def test4(a,b):
    """
    test4()
    a= this is going to do this
    b=this is going to do this
    this is my test function with the
    help of this function you will be able to learn a basic of fun
    """
    print("my name is xyz",a+b)

In [34]:
test4("a","b") #doctring

my name is xyz ab

In [35]:
help(test4)

Help on function test4 in module __main__:

test4(a, b)
    test4()
    a= this is going to do this
    b=this is going to do this
    this is my test function with the
    help of this function you will be able to learn a basic of fun

In [37]:
a=[1,2,3,3]
for i in a:
    print(i)

1
2
3
3

In [38]:
#iterator and generator

In [48]:
s="sudh"
next(iter(s[2]))

'd'

In [65]:
s="sudh"
s=iter(s)
for i in range(len("sudh")):
    print(next(s))

s
u
d
h

In [54]:
s="sudh"
s=iter(s)
next(s)

's'

In [55]:
next(s)

'u'

In [56]:
next(s)

'd'

In [57]:
next(s)

'h'

In [59]:
l=[1,2,3,4,5,6]
l=iter(l)
next(l) 
next(l)

2

In [ ]:
t=(1,2,3,4,5,6,7,8)
t=iter(t)
next(t)
#t->iterable
#next(t)->iterator

1

Generator

In [90]:
def test5(n):
    l=[]
    for i in range(1,n,2):
         l.append(i**3)
    return l

In [91]:
test5(6)

[1, 27, 125]

In [ ]:
#yeild

def test6(n):
    for i in range(n):
        yield i**3

In [ ]:
test5(60)

In [105]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
def genfib(n):
    a=0
    b=1
    output=[]
    for i in range(n):
         output.append(a)
         a,b=b,a+b
    return output

In [113]:
genfib(18)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597]

In [ ]:
#using yeild function
def genfiby(n):
    a=0
    b=1
    for i in range(n): 
        yield a
        a,b=b,a+b

In [122]:
for i in genfiby(18):
    print(i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597