In [13]:
li=[12,"niraj",57,90,True,False,"gum",567]
for i in li:
    print(i)

12
niraj
57
90
True
False
gum
567

In [14]:
#list slicing
li[-1::-1]

[567, 'gum', False, True, 90, 57, 'niraj', 12]

In [15]:
li[:]

[12, 'niraj', 57, 90, True, False, 'gum', 567]

In [16]:
li[1::3]

['niraj', True, 567]

In [17]:
#list reversed
li[::-1]

[567, 'gum', False, True, 90, 57, 'niraj', 12]

In [31]:
8 and 4

4

In [32]:
8 or 4

8

In [34]:
l=["niraj",2,78,9092,"rushi",True]
len(l)

6

In [38]:
max("jsjsj","dsjhk","a","zz","zazassds")

'zz'

In [43]:
l.append([12,33,'ui',[1,2,3,4]])

In [44]:
l

['niraj', 2, 78, 9092, 'rushi', True, [12, 33, 'ui', [1, 2, 3, 4]]]

In [45]:
l.insert(0,[12,"jji"])

In [46]:
l

[[12, 'jji'],
 'niraj',
 2,
 78,
 9092,
 'rushi',
 True,
 [12, 33, 'ui', [1, 2, 3, 4]]]

In [48]:
l.index('niraj')

1

In [50]:
l.count(2)

1

In [52]:
l=[1,2,3,4]
l.append("sudh")
l.append([1,2,34,56])

In [53]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 34, 56]]

In [54]:
l.extend("test1")

In [55]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 34, 56], 't', 'e', 's', 't', '1']

In [60]:
l.extend([1,23,4])

In [61]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 34, 56], 't', 'e', 's', 't', '1', 1, 23, 4]

In [62]:
l.index('sudh')

4

In [63]:
l.pop()

4

In [64]:
l

[1, 2, 3, 4, 'sudh', [1, 2, 34, 56], 't', 'e', 's', 't', '1', 1, 23]

In [66]:
l=[4,5,6,7,8,9,9,9,9,9]
l.remove(9)
l

[4, 5, 6, 7, 8, 9, 9, 9, 9]

In [69]:
l.reverse()
l

[9, 9, 9, 9, 8, 7, 6, 5, 4]

In [73]:
l.sort()
l

[4, 5, 6, 7, 8, 9, 9, 9, 9]

In [77]:
l=["niraj",'a','b','hsfjb','z']
l.sort()
l

['a', 'b', 'hsfjb', 'niraj', 'z']

In [80]:
l=[[1,2,3],[5,6,78,90],[0,3,4,5,78,23],[0,9,6,3,2]]
l.insert(2,[9,8,76,45])
l.insert(4,[6,3,2,8,9])

In [81]:
l

[[1, 2, 3],
 [5, 6, 78, 90],
 [9, 8, 76, 45],
 [0, 3, 4, 5, 78, 23],
 [6, 3, 2, 8, 9],
 [0, 9, 6, 3, 2]]

In [ ]:
l=[[1,2,3],[5,6,78,90],[0,3,4,5,"sudh"],[0,9,6,3,2]]

In [122]:
p=0
l=[[1,"ahmed",2,3],[5,6,78,90],[0,3,4,5,"sudh"],[0,9,6,3,2,"niraj"],]
for i in l:
    q=0
    for j in i:
        if type(j)==str:
            print(j)
            print(p,q)
            del l[p][q]
        q+=1
    p+=1
print(l)

ahmed
0 1
sudh
2 4
niraj
3 5
[[1, 2, 3], [5, 6, 78, 90], [0, 3, 4, 5], [0, 9, 6, 3, 2]]

In [136]:
l=[[1,"ahmed",2,3],[5,6,78,90],[0,3,4,5,"sudh"],[0,9,6,3,2,"niraj"],]
p=0
q=0
for i in l:
        if len(i)>1:
            del i[1]
l

[[1, 2, 3], [5, 78, 90], [0, 4, 5, 'sudh'], [0, 6, 3, 2, 'niraj']]

In [139]:
2 not in  l

True

In [142]:
l=[1,2,3,4,5]
li=[]
for i in range(10):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [143]:
#list comprehension
[i for i in "sudh"]

['s', 'u', 'd', 'h']

In [146]:
[i for i in range(10)]
[i for i in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [147]:
l=[]
for i in range(11):
    if i%2==0:
        l.append(i)
l

[0, 2, 4, 6, 8, 10]

In [148]:
[ i for i in range(11) if i%2==0]

[0, 2, 4, 6, 8, 10]

In [149]:
[i for i in range(11) if i%2!=0]

[1, 3, 5, 7, 9]

In [151]:
 ["odd" if i%2!=0 else "even" for i in range(11)]

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [155]:
mat=[]

for i in range(3):
    mat.append([])
    for j in range(4):
        mat[i].append(j)
mat

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [157]:
#list comprehension for matrix
[[j for j in range(4)]for i in range(3)]

[[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]

In [159]:
["yes" if i==1 else "no" if i==2 else "test" for i in range(11)]

['test',
 'yes',
 'no',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test',
 'test']

In [160]:
["yes" if i==1 else "no" if i==2 else "test"if i==3 else "testing" for i in range(11)]

['testing',
 'yes',
 'no',
 'test',
 'testing',
 'testing',
 'testing',
 'testing',
 'testing',
 'testing',
 'testing']