   #Tuples

In [5]:
tup=(12,23,True,"False","Niraj",12.89)
tup[::-1]

(12.89, 'Niraj', 'False', True, 23, 12)

In [6]:
tup.count(12.89)

1

In [7]:
tup.index(12.89)

5

In [8]:
12.89 in tup

True

In [ ]:
t1=(12,23,98,12,1,33,0)
min(t1)

98

In [14]:
max(t1)

98

In [15]:
t2=(23,35,78,90)
t1+t2

(12, 23, 98, 12, 1, 33, 0, 23, 35, 78, 90)

In [8]:
t1=(12,23,98,12,1,33,0)
l5=list(t1)
l5

[12, 23, 98, 12, 1, 33, 0]

In [11]:
nt=(1,23,("nifaj",8,654,33),(12,90,False,"UI"))
nt[2][2:]

(654, 33)

In [16]:
tn=nt[3][::-1]
list(tn)

['UI', False, 90, 12]